In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import os.path
from bs4 import BeautifulSoup
import requests

In [2]:
record_segment_good_length_path = '../../../2_data/'

In [3]:
!ls -l $record_segment_good_length_path

total 15048
-rw-r--r--  1 tarus  staff   813960 Jan 16 13:33 record_path_mimic3.csv
-rw-r--r--  1 tarus  staff   825729 Jan 31 16:13 record_path_mimic3_matched.csv
-rw-r--r--  1 tarus  staff   149932 Feb  1 12:24 record_segment_good_length_0_1999.csv
-rw-r--r--  1 tarus  staff  1354163 Feb  1 19:44 record_segment_good_length_10000_14999.csv
-rw-r--r--  1 tarus  staff  1299122 Feb  1 21:11 record_segment_good_length_15000_19999.csv
-rw-r--r--  1 tarus  staff   250686 Feb  1 21:51 record_segment_good_length_20000_22317.csv
-rw-r--r--  1 tarus  staff   196239 Feb  1 13:34 record_segment_good_length_2000_3999.csv
-rw-r--r--  1 tarus  staff   217590 Feb  1 16:42 record_segment_good_length_4000_5999.csv
-rw-r--r--  1 tarus  staff   461693 Feb  1 17:20 record_segment_good_length_6000_7999.csv
-rw-r--r--  1 tarus  staff   437469 Feb  1 17:56 record_segment_good_length_8000_9999.csv

In [7]:
first_record = 0
last_record = 1999
record_list_file = record_segment_good_length_path + 'record_segment_good_length_' + str(first_record) + '_' + str(last_record) + '.csv'
print('record_list_file: {}'.format(record_list_file))

record_list_file: ../../../2_data/record_segment_good_length_0_1999.csv

In [8]:
!ls -l $record_list_file

-rw-r--r--  1 tarus  staff  149932 Feb  1 12:24 ../../../2_data/record_segment_good_length_0_1999.csv

In [65]:
segment_list_1 = pd.read_csv(record_list_file, header=None)

In [74]:
segment_list_1.head()

    1                         2
0  10  p00/p000107/3860035_0001
1  10  p00/p000107/3860035_0004
2  10  p00/p000107/3860035_0006
3  10  p00/p000107/3860035_0009
4  10  p00/p000107/3860035_0010

In [73]:
# drop the first column
segment_list_1.drop(segment_list_1.columns[[0]], axis=1, inplace=True)

In [80]:
segment_list_1.head()

    1                         2
0  10  p00/p000107/3860035_0001
1  10  p00/p000107/3860035_0004
2  10  p00/p000107/3860035_0006
3  10  p00/p000107/3860035_0009
4  10  p00/p000107/3860035_0010

In [81]:
segment_list_1.groupby(segment_list_1.iloc[:,0],as_index=False).agg(list)
# record_list_1 = segment_list_1.groupby('record_index_all',as_index=False).agg(list)

,1,2
0,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","[p00/p000107/3860035_0001, p00/p000107/3860035..."
1,"[11, 11, 11, 11, 11, 11, 11, 11]","[p00/p000107/3746356_0006, p00/p000107/3746356..."
2,"[27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 2...","[p00/p000124/3931528_0006, p00/p000124/3931528..."
3,"[28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 2...","[p00/p000124/3776642_0006, p00/p000124/3776642..."
4,"[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[p00/p000124/3644535_0001, p00/p000124/3644535..."
...,...,...
327,"[1976, 1976, 1976, 1976, 1976, 1976]","[p00/p007965/3476791_0006, p00/p007965/3476791..."
328,"[1978, 1978, 1978, 1978, 1978, 1978, 1978, 197...","[p00/p007966/3573275_0006, p00/p007966/3573275..."
329,"[1987, 1987, 1987, 1987, 1987, 1987, 1987, 198...","[p00/p007981/3794331_0003, p00/p007981/3794331..."
330,"[1995, 1995, 1995, 1995, 1995, 1995, 1995, 199...","[p00/p008057/3526225_0012, p00/p008057/3526225..."
331,"[1996, 1996, 1996, 1996, 1996, 1996, 1996, 199...","[p00/p008061/3145453_0006, p00/p008061/3145453..."

In [35]:
segment_list_1.head(30)

    record_selected_count  record_index_all                      root
0                       1                10  p00/p000107/3860035_0001
1                       1                10  p00/p000107/3860035_0004
2                       1                10  p00/p000107/3860035_0006
3                       1                10  p00/p000107/3860035_0009
4                       1                10  p00/p000107/3860035_0010
5                       1                10  p00/p000107/3860035_0011
6                       1                10  p00/p000107/3860035_0012
7                       1                10  p00/p000107/3860035_0014
8                       1                10  p00/p000107/3860035_0016
9                       1                10  p00/p000107/3860035_0022
10                      1                10  p00/p000107/3860035_0024
11                      1                10  p00/p000107/3860035_0029
12                      1                10  p00/p000107/3860035_0031
13                      1                10  p00/p000107/3860035_0032
14                      1                10  p00/p000107/3860035_0034
15                      1                10  p00/p000107/3860035_0037
16                      1                10  p00/p000107/3860035_0040
17                      1                10  p00/p000107/3860035_0044
18                      2                11  p00/p000107/3746356_0006
19                      2                11  p00/p000107/3746356_0008
20                      2                11  p00/p000107/3746356_0012
21                      2                11  p00/p000107/3746356_0016
22                      2                11  p00/p000107/3746356_0018
23                      2                11  p00/p000107/3746356_0021
24                      2                11  p00/p000107/3746356_0028
25                      2                11  p00/p000107/3746356_0030
26                      3                27  p00/p000124/3931528_0006
27                      3                27  p00/p000124/3931528_0008
28                      3                27  p00/p000124/3931528_0010
29                      3                27  p00/p000124/3931528_0011

In [27]:
segment_list_1.columns = ['record_selected_count','record_index_all','root']

In [28]:
segment_list_1.columns

Index(['record_selected_count', 'record_index_all', 'root'], dtype='object')

In [20]:
segment_list_1.iloc[0,2]

'p00/p000107/3860035_0001'

In [55]:
record_list_1 = segment_list_1.groupby('record_index_all',as_index=False).agg(list)
print(len(record_list_1))

332

In [56]:
record_list_1.head()

,record_index_all,record_selected_count,root
0,10,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[p00/p000107/3860035_0001, p00/p000107/3860035..."
1,11,"[2, 2, 2, 2, 2, 2, 2, 2]","[p00/p000107/3746356_0006, p00/p000107/3746356..."
2,27,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...","[p00/p000124/3931528_0006, p00/p000124/3931528..."
3,28,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]","[p00/p000124/3776642_0006, p00/p000124/3776642..."
4,29,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...","[p00/p000124/3644535_0001, p00/p000124/3644535..."