In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import os.path
from bs4 import BeautifulSoup
import requests

In [2]:
record_segment_good_length_path = '../../../2_data/'

In [3]:
!ls -l $record_segment_good_length_path

total 15048
-rw-r--r--  1 tarus  staff   813960 Jan 16 13:33 record_path_mimic3.csv
-rw-r--r--  1 tarus  staff   825729 Jan 31 16:13 record_path_mimic3_matched.csv
-rw-r--r--  1 tarus  staff   149932 Feb  1 12:24 record_segment_good_length_0_1999.csv
-rw-r--r--  1 tarus  staff  1354163 Feb  1 19:44 record_segment_good_length_10000_14999.csv
-rw-r--r--  1 tarus  staff  1299122 Feb  1 21:11 record_segment_good_length_15000_19999.csv
-rw-r--r--  1 tarus  staff   250686 Feb  1 21:51 record_segment_good_length_20000_22317.csv
-rw-r--r--  1 tarus  staff   196239 Feb  1 13:34 record_segment_good_length_2000_3999.csv
-rw-r--r--  1 tarus  staff   217590 Feb  1 16:42 record_segment_good_length_4000_5999.csv
-rw-r--r--  1 tarus  staff   461693 Feb  1 17:20 record_segment_good_length_6000_7999.csv
-rw-r--r--  1 tarus  staff   437469 Feb  1 17:56 record_segment_good_length_8000_9999.csv

In [7]:
first_record = 0
last_record = 1999
record_list_file = record_segment_good_length_path + 'record_segment_good_length_' + str(first_record) + '_' + str(last_record) + '.csv'
print('record_list_file: {}'.format(record_list_file))

record_list_file: ../../../2_data/record_segment_good_length_0_1999.csv

In [8]:
!ls -l $record_list_file

-rw-r--r--  1 tarus  staff  149932 Feb  1 12:24 ../../../2_data/record_segment_good_length_0_1999.csv

In [12]:
segment_list_1 = pd.read_csv(record_list_file, header=None)

In [13]:
segment_list_1

        0     1                         2
0       1    10  p00/p000107/3860035_0001
1       1    10  p00/p000107/3860035_0004
2       1    10  p00/p000107/3860035_0006
3       1    10  p00/p000107/3860035_0009
4       1    10  p00/p000107/3860035_0010
...   ...   ...                       ...
4526  332  1996  p00/p008061/3145453_0015
4527  332  1996  p00/p008061/3145453_0016
4528  332  1996  p00/p008061/3145453_0017
4529  332  1996  p00/p008061/3145453_0019
4530  332  1996  p00/p008061/3145453_0020

[4531 rows x 3 columns]