In [16]:
import numpy as np
from numpy import savetxt
from numpy import loadtxt
import urllib3

In [3]:
target_url = 'https://archive.physionet.org/physiobank/database/mimic3wdb/RECORDS'
http     = urllib3.PoolManager()
response = http.request('GET', target_url)
data     = response.data.decode('utf-8')

In [13]:
records = np.array(data.splitlines())
print(type(records))
print(len(records))
print(records.shape)
print(records[:5])
print(records[-5:])

<class 'numpy.ndarray'>
67830
(67830,)
['30/3000003/' '30/3000031/' '30/3000051/' '30/3000060/' '30/3000063/']
['39/3999944/' '39/3999953/' '39/3999968/' '39/3999986/' '39/3999988/']

In [18]:
#savetxt('records.csv', records, delimiter=',')

In [19]:
import pandas as pd

In [20]:
records_df = pd.DataFrame(records)

In [21]:
type(records_df)

pandas.core.frame.DataFrame

In [22]:
records_df.shape

(67830, 1)

In [26]:
records_df.head()

             0
0  30/3000003/
1  30/3000031/
2  30/3000051/
3  30/3000060/
4  30/3000063/

In [29]:
records_df.iloc[0:5,:]

             0
0  30/3000003/
1  30/3000031/
2  30/3000051/
3  30/3000060/
4  30/3000063/

In [30]:
records_df.to_csv('records.csv')